@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #171717;
  --font-secondary: "Baloo 2", "Baloo 2 Fallback";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
    --font-secondary: "Baloo 2", "Baloo 2 Fallback";
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-secondary);
}
